#tubber-viewer, #tubber-viewer iframe {
  width: 100%;
}

.video-item {
  display: inline-block;
  width: 33%;
  cursor: pointer;
  padding: 4px 2px;
}

.video-item img {
  width: 100%;
}

.full-row {
  width: 100%;
}
